<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <title>Aadarsh-Stocks</title>
</head>
<body>
    <section class="header">
        <strong class="title"><a href="/" class="headerTitle">AADARSH-STOCKS</a><a href="#" class="pricing">Pricing</a></strong>
        <strong class = "authentication">
            <form action="/home" method="post">
                <select name="loginChoice" id="loginChoice" onchange="this.form.submit()">
                    <option value="1">Welcome, {{user.firstName}}</option>
                    <option value="2"><a href="/register">Stock Data</a></option>
                    <option value="3">Data Input</option>
                    <option value="4">Account Details</option>
                    <option value="5"><strong class="logout">Logout<strong></option>
                </select>
            </form>
        </strong>
    </section>
    
    
    <section class="main-content">
            <br><br><br><br>
            <div class = 'stock-entry-date'>
                <form action="/home/dataInput/date" method="post">
                    <h4>Select date corresponding to stock data entry : </h4>
                    <input type="date" name="stockEntryDate" id="stock-entry-date" onchange="this.form.submit()"><br><br>
                </form>
            </div>
            {{#if stock.date}}
                <strong></strong><br>
                <strong class="stockViewDate">Date : {{stock.date}}</strong><br><br><br>
            {{/if}}
            <form action="/home/dataInput/data" method="post">
                <div class = "stock-display-input" >
                    <input type="search" name = "stockName" id="stock-input-stockName" placeholder = " Stock-name " required>
                    <input type="search" name = "buyAbove" id="stock-input-buyAbove" placeholder = " Buy above " required>
                    <input type="search" name = "target" id="stock-input-target" placeholder = " Target " required>
                    <input type="search" name = "stopLoss" id="stock-input-stopLoss" placeholder = " Stop Loss " required>
                    <input type="search" name = "recentHigh" id="stock-input-recentHigh" placeholder = " Recent High " required>
                    <input type="search" name = "recentLow" id="stock-input-recentLow" placeholder = " Recent Low " required>
                    <input type="search" name = "remarks" id="stock-input-remarks" placeholder = " Remarks " required>
                </div>
                    <br><button class = "add-row" >Add stock</button><br><br>
            </form>
            <div class="stockDisplayBox">
            <div class = "stock-display">               
                <strong class = "stock-display-headers">Stock Name</strong>
                <strong class = "stock-display-headers">Buy above</strong>
                <strong class = "stock-display-headers">Target</strong>
                <strong class = "stock-display-headers">Stop Loss</strong>
                <strong class = "stock-display-headers">Recent High</strong>
                <strong class = "stock-display-headers">Recent Low</strong>
                <strong class = "stock-display-headers">Remarks</strong>
                {{#if stock.data}}
                    {{#each stock.data}}
                        <h8 class = "stock-display-items row${length}">{{this.stockName}}</h8>
                        <h8 class = "stock-display-items row${length}">{{this.buyAbove}}</h8>
                        <h8 class = "stock-display-items row${length}">{{this.target}}</h8>
                        <h8 class = "stock-display-items row${length}">{{this.stopLoss}}</h8>
                        <h8 class = "stock-display-items row${length}">{{this.recentHigh}}</h8>
                        <h8 class = "stock-display-items row${length}">{{this.recentLow}}</h8>
                        <h8 class = "stock-display-items row${length}">{{this.remarks}}<input type="button" value="X" style="margin-right : 0;visibility : visible ;" class = "cut row${length}"></h8>
                    {{/each}}
                {{/if}}
            </div>
            </div><br><br>
            <form action="/home/dataInput/link" method="post">
                <input type="url" name="link" id="link" placeholder="Link">
                <button type="submit" id="submitLink">Add Link</button>
            </form><br>
            <div class="linkDisplay">
                {{#if stock.link}}
                    {{#each stock.link}}
                        <strong class="linkDis">Link{{@index}} : <a href="{{this}}"></a>{{this}}</strong><br>
                    {{/each}}
                {{/if}}
            </div>
            <br><br>
            <form action="/home/dataInput/stockData" method="post">
                <input type = "text" name = "para1Stock"class = "para1-stock" placeholder="Para 1(required)" value="{{stock.para1}}">
                <input type = "text" name = "para2Stock"class = "para2-stock" placeholder="Para 2(required)" value="{{stock.para2}}">
                <br><br><button class = "add-to-database" >Add to Database</button><br><br>
            </form>
            
    </section>


    <section class="footer">
        {{>footer}}
    </section>
    <script>
        // Event-listener for clearing input field
            document.querySelector('.add-row').addEventListener('click',()=>{
                setTimeout(()=>{
                        if( document.querySelector('#stock-input-stockName').value != undefined )
                            document.querySelector('#stock-input-stockName').value = ''
                        if( document.querySelector('#stock-input-stopLoss').value != undefined )
                            document.querySelector('#stock-input-stopLoss').value = ''
                        if( document.querySelector('#stock-input-target').value != undefined )
                            document.querySelector('#stock-input-target').value = ''
                        if( document.querySelector('#stock-input-buyAbove').value != undefined )
                            document.querySelector('#stock-input-buyAbove').value = ''
                        if( document.querySelector('#stock-input-recentHigh').value != undefined )
                            document.querySelector('#stock-input-recentHigh').value = ''
                        if( document.querySelector('#stock-input-recentLow').value != undefined )    
                            document.querySelector('#stock-input-recentLow').value = ''
                        if( document.querySelector('#stock-input-remarks').value != undefined )
                            document.querySelector('#stock-input-remarks').value = ''
                },1000)
            })
    </script>
</body>
</html>