<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <title>Data-Input</title>
</head>
<body>
    <section class="header">
        <strong class="title"><a href="/" class="headerTitle">AADARSH-STOCKS</a><a href="/home/pricing" class="pricing">Pricing</a></strong>
        <strong class = "authentication">
            <form action="/home" method="post">
                <select name="loginChoice" id="loginChoice" onchange="this.form.submit()">
                    <option value="1">Welcome, {{user.firstName}}</option>
                    <option value="7">Home</option>
                    <option value="2">Stock Data</option>
                    <option value="3" selected>Data Input</option>
                    <option value="6">Pricing</option>
                    <option value="4">Profile</option>
                    <option value="5"><strong class="logout">Logout<strong></option>
                </select>
            </form>
        </strong>
    </section>
    
    
    <section class="main-content">
            <br><br><br><br>
            <div class = 'stock-entry-date'>
                <form action="/home/dataInput/date" method="post">
                    <center>
                        <h4>Select date corresponding to stock data entry : </h4>
                        <input type="date" name="stockEntryDate" id="stock-entry-date" onchange="this.form.submit()"><br>
                    </center>
                </form>
            </div>
            {{#if stock.date}}
                <center><br><strong class="stockViewDate">Date : {{stock.date}}</strong><br><br></center>
            {{/if}}
            <form action="/home/dataInput/data" method="post" enctype="multipart/form-data">
                <center>
                    <br><strong class="stocklabel">Choose the spreadsheet containing stock-data : </strong>
                    <input type="file" name="xlsx" id="xlsx " class="xlsx"><br><br>
                    <button type="submit" class = "add-row" onchange="this.form.submit()">Add Stocks</button>
                </center><br><br>
            </form>
            {{#if stock.data}}
                <div class="stockDisplayBox">
                <div class = "stock-display">               
                    <strong class = "stock-display-headers">Stock Name</strong>
                    <strong class = "stock-display-headers">Buy above</strong>
                    <strong class = "stock-display-headers">Target</strong>
                    <strong class = "stock-display-headers">Stop Loss</strong>
                    <strong class = "stock-display-headers">Recent High</strong>
                    <strong class = "stock-display-headers">Recent Low</strong>
                    {{#if stock.data}}
                        {{#each stock.data}}
                            <h8 class = "stock-display-items row${length}">{{this.stockName}}</h8>
                            <h8 class = "stock-display-items row${length}">{{this.buyAbove}}</h8>
                            <h8 class = "stock-display-items row${length}">{{this.target}}</h8>
                            <h8 class = "stock-display-items row${length}">{{this.stopLoss}}</h8>
                            <h8 class = "stock-display-items row${length}">{{this.recentHigh}}</h8>
                            <h8 class = "stock-display-items row${length}">{{this.recentLow}}</h8>
                        {{/each}}
                    {{/if}}
                </div>
                </div><br><br>
                
                <div class="linkDisplay">
                    {{#if stock.link}}
                        {{#each stock.link}}
                            <strong class="linkDis">Link{{@index}} : <a href="{{this.hyperlink}}"></a>{{this.hyperlink}}</strong><br>
                        {{/each}}
                    {{/if}}
                </div>
                <br><br>
                <form action="/home/dataInput/stockData" method="post">
                    <div class = "stock-display-para">
                        <strong style="text-decoration: underline;font-size : 24px;text-shadow: 0.1vw 0.1vh 01vh white;">EDITOR'S NOTE :</strong>
                        <br><br><p class = "para1" style="text-align: justify;">1. {{stock.para1}} </p><br><br>
                        <p class = "para1" style="text-align: justify;">2. {{stock.para2}}<p><br><br>
                    </div>
                    <br><br><center><button class = "add-to-database" >Add to Database</button></center><br><br>
                </form>
            {{/if}}
    </section>


    <section class="footer">
        {{>footer}}
    </section>
</body>
</html>