<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <link rel="stylesheet" href="/css/message_style.css">
    <title>Transaction-Status</title>
</head>
<body>
    <section class="header">
        <strong class="title"><a href="/" class="headerTitle" onclick="myfunction('Going to Home...')">AADARSH-STOCKS</a></strong>
    </section>
    
    <section class="main-content">
        <br><br><br><br><br><br><br><br><br><br><br>
        <div class="messageBody">
        <h4 class = "transaction">Transaction-status</h4><br><br><br>
        <div class="txnmssg">
            <strong>Order ID</strong><strong>:</strong><h4> {{dispBody.orderid}}</h4>
            <strong>Status</strong><strong>:</strong><h4> {{dispBody.status}}</h4>
            <strong>Time </strong><strong>:</strong><h4> {{dispBody.txndate}}</h4>
            <strong>Txn ID </strong><strong>:</strong><h4> {{dispBody.txnid}}</h4>
            <strong>Amount </strong><strong>:</strong><h4> {{dispBody.amount}}</h4>
            <strong>Bank Name </strong><strong>:</strong><h4> {{dispBody.bnkname}}</h4>
            <strong>Bank Txn ID</strong><strong>:</strong><h4> {{dispBody.bnkid}}</h4>
            <strong>Message </strong><strong>:</strong><h4> {{dispBody.message}}</h4>
        </div><br><br><br>
        <a href="/login" class="redlink" onclick="alert('For security reasons, You have been logged out. Redirecting to login page.')">Go to Home</a>
        </div>
    </section>
    <section class="footer">
        {{>footer}}
    </section>
    <script src="/loader.js" type="text/javascript"></script>
</body>
</html>