<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <link rel="stylesheet" href="/css/message_style.css">
    <title>Transaction-Status</title>
</head>
<body>
    <section class="header">
        <strong class="title"><a href="/" class="headerTitle">AADARSH-STOCKS</a><a href="/home/pricing" class="pricing">Pricing</a></strong>
        <strong class = "authentication">
            <form action="/home" method="post">
                <select name="loginChoice" id="loginChoice" onchange="this.form.submit()">
                    <option value="1">Welcome, {{user.firstName}}</option>
                    <option value="7">Home</option>
                    <option value="2">Stock Data</option>
                    {{#if user.admin}}
                        <option value="3">Data Input</option>
                        <option value="6">Pricing</option>
                    {{/if}}
                    <option value="4">Profile</option>
                    <option value="5"><strong class="logout">Logout<strong></option>
                </select>
            </form>
        </strong>
    </section>
    
    <section class="main-content">
        <br><br><br><br><br><br><br><br><br><br><br>
        <div>
        <h4 class = "transaction">Transaction-status</h4><br><br><br>
        <div class="txnmssg">
            <strong>Order ID</strong><strong>:</strong><h4> {{dispBody.orderid}}</h4>
            <strong>Status</strong><strong>:</strong><h4> {{dispBody.status}}</h4>
            <strong>Time </strong><strong>:</strong><h4> {{dispBody.txndate}}</h4>
            <strong>Txn ID </strong><strong>:</strong><h4> {{dispBody.txnid}}</h4>
            <strong>Bank Name </strong><strong>:</strong><h4> {{dispBody.bnkname}}</h4>
            <strong>Bank Txn ID</strong><strong>:</strong><h4> {{dispBody.bnkid}}</h4>
            <strong>Message </strong><strong>:</strong><h4> {{dispBody.message}}</h4>
        </div><br><br><br>
        {{#if sucmssg}}
        <a href="{{sucmssg}}" class="redlink">Go to home page</a>
        {{/if}}
        {{#if mssg}}
        <a href="{{mssg}}" class="redlink">Retry payment</a>
        {{/if}}
        </div>
    </section>


    <section class="footer">
        {{>footer}}
    </section>
    <script>
        function myfunction(content){
            var html = 
            `
            <center>
                <div class="anim">
                    <div id="loader"></div><br>
                    <strong>${content}</strong>
                </div>
            </center>
            `
            document.querySelector('.main-content').innerHTML = ' '
            document.querySelector('.main-content').insertAdjacentHTML('afterbegin',html)
        }

    </script>
</body>
</html>