<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/web.png" type="image/icon type">
    <link rel="stylesheet" href="/css/index_style.css">
    <link rel="stylesheet" href="/css/login_style.css">
    <title>Stock-Data</title>
</head>
<body>
    <section class="header">
        <strong class="title"><a href="/" class="headerTitle" onclick="myfunction('Going to Home...')">AADARSH-STOCKS</a><a href="/home/pricing" class="pricing" onclick="myfunction('Loading subscription page...')">Pricing</a></strong>
        {{>authenticatedHeader}}
    </section>
    
    <section class="main-content">
        <br><br>
        <div class = 'stock-view-date'>
            <form action="/home/stockData" method="post" onchange="myfunction('Checking Stocks for specified date ...')">
                <center>
                    <h4>Select date for viewing past stock suggestions : </h4>
                    <input type="date" name="stockViewDate" id="stock-view-date" onchange="this.form.submit()">
                </center>
            </form>
            <br><center><strong class="errorMessage">{{message}}</strong></center>
        </div>
        
        {{#if stockData}}
                <center><br><strong class="stockViewDate">Date : {{stockData.date}}</strong><br><br></center>
            <div class = "stock-display-para">
                <strong style="text-decoration: underline;font-size : 160%;text-shadow: 0.1vw 0.1vh 01vh white;">EDITOR'S NOTE :</strong>
                <br><br><p class = "para1" style="text-align: justify;">1. {{stockData.para1}} </p><br><br>
                <p class = "para1" style="text-align: justify;">2. {{stockData.para2}}<p><br><br>
            </div>
            <br><br>
            {{#if stockData.link}}
                {{#each stockData.link}}
                <strong class="link"><a href="{{this}}"> Link{{@index}}</a></strong>
                {{/each}}
                <br><br>
            {{/if}}
            <div class="stockDisplayBox">
            <div class = "stock-display">
                <strong class = "stock-display-headers">Stock Name</strong>
                <strong class = "stock-display-headers">Buy above</strong>
                <strong class = "stock-display-headers">Target</strong>
                <strong class = "stock-display-headers">Stop Loss</strong>
                <strong class = "stock-display-headers">Recent High</strong>
                <strong class = "stock-display-headers">Recent Low</strong>
                {{#if stockData.data}}
                    {{#each stockData.data}}
                        <h8 class = "stock-display-items">{{this.stockName}}</h8>
                        <h8 class = "stock-display-items">{{this.buyAbove}}</h8>
                        <h8 class = "stock-display-items">{{this.target}}</h8>
                        <h8 class = "stock-display-items">{{this.stopLoss}}</h8>
                        <h8 class = "stock-display-items">{{this.recentHigh}}</h8>
                        <h8 class = "stock-display-items">{{this.recentLow}}</h8>    
                    {{/each}}  
                {{/if}}
            </div>
            </div>
        {{/if}}

    </section>


    <section class="footer">
        {{>footer}}
    </section>
    <script src="/loader.js" type="text/javascript"></script>
</body>
</html>